<div id="container">
  <strong>{{ name }}</strong>

  <ion-list>
    <p style="text-align: left" class="title-textarea">Mein Bauerntagebuch</p>
    <ion-item>
      <ion-input [(ngModel)]="textAreaInput"></ion-input>
    </ion-item>
  </ion-list>

  <div style="padding: 12px">
    <br />
    <strong>{{ speechResult }}</strong>

    <br />
    <br />

    <span style="color: blue; font-weight: 800"> {{ result.intent }}</span>
    <br />
    <span style="font-style: italic"> {{ result.queryText }}</span>
  </div>

  <ion-buttons slot="secondary">
    <ion-button
      fill="solid"
      class="button-send"
      (click)="sendMessageToDialogFlow()"
    >
      <ion-icon slot="start" name="person-circle"></ion-icon>
      Nachricht senden
    </ion-button>
  </ion-buttons>

  <ion-fab horizontal="end" vertical="end">
    <ion-fab-button (click)="startListening()">
      <ion-icon name="mic"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
